.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* Small screens */
@media (max-width: 768px) {
  /* Adjust styles for screens up to 768px wide */
}

/* Medium screens */
@media (min-width: 769px) and (max-width: 1024px) {
  /* Adjust styles for screens between 769px and 1024px wide */
}

/* Large screens */
@media (min-width: 1025px) {
  /* Adjust styles for screens wider than 1024px */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.justdemo {
  color: blue;
}
.signup {
  color: red;
  font-size: 35px;
  font-style: italic;
}
.signup-form {
  font-size: 25px;
  background-color: khaki;
  padding-top: -3rem;
  padding-bottom: 5rem;
  padding-left: 2%;
  margin-top: 8rem;
}
.form-group {
  color: darkgreen;
  padding-left: 2rem;
  margin: 0%;
}
/* .signup-content{
  border: 4px dashed blue;
  border-style:dashed;
  margin-top: 8rem;
  margin-bottom: 10rem;
  
}  */
.container {
  font-size: 30px;
  font-style: italic;
  max-width: 100rem;
}
.signimage {
  padding-left: 75%;
}

.heading {
  font-size: 40px;
  color: lightgreen;
  background-color: black;
  font-family: Lucida Bright;
  margin-left: -200px;
}
.container1 {
  max-width: 1300px;
  width: 100%;
  margin: auto;
  padding: 0 20px;
}
.section {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h1 {
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 40px;
}
.cards {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  font-size: 2.5rem;
  color: Black;
}
.card {
  /* flex: 0 0 calc(33.33% - 20px); */
  /* max-width: calc(33.33% - 20px); */
  width: 100%;
  background: thistle;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  transition: 0.3s;
  border: 2px solid transparent;
}
.card:hover {
  border-color: chartreuse;
}
/* .btn {
  border: none;
  outline: none;
  border-radius: 10px;
  color: yellowgreen;
  max-width: 120px;
  background: black;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid;
} */
/* .btn:hover {
  background: green;
  color: wheat;
} */
@media (max-width: 969px) {
  section {
    padding: 20px 0px;
  }
  h1 {
    font-size: 30px;
    line-height: 40px;
  }
}

@media (max-width: 600px) {
  /* section{
    padding: 20px 0px;
  }
  h1{
    font-size: 30px;
    line-height: 40px;
  } */
}
.unde {
  color: Red;
  font-size: 30px;
}
/* img {
  height: 600px !important;
} */
.car {
  border: 5px solid #555;
  margin: 3rem 5rem;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
}
.whatishashing {
  color: red;
  margin-left: 3%;
  margin-top: 2.2%;
}
/* .para1{
  color:black;
  font-size: 20px;
  text-align: center; 
} */

.box {
  border: 2px solid greenyellow;
  padding: 10spx;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  margin-right: 60%;
  margin-top: 2%;
  margin-left: 2%;
  background-color: #61dafb;
}
#sub {
  width: 7rem;
  height: 3rem;
  font-size: 1.2rem;
}
.para1 {
  border: 2px solid red;
  padding: 10spx;
  padding-left: 1%;
  padding-right: 1%;
  margin-right: 6%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 1.5%;
  margin-left: 2.8%;
  background-color: darkkhaki;
}
.hashinguse {
  border: 2px solid greenyellow;
  padding: 10spx;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  margin-right: 60%;
  margin-top: 2.5%;
  margin-left: 2%;
  background-color: #61dafb;
}
.para2 {
  border: 2px solid black;
  padding: 10spx;
  margin-right: 6%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 1.5%;
  margin-left: 2.8%;
  background-color: darkkhaki;
}
.para2 {
  border: 2px solid black;
  padding: 10spx;
  margin-right: 6%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 1.5%;
  margin-left: 2.8%;
  background-color: darkkhaki;
}

.para3 {
  border: 2px solid black;
  padding: 10spx;
  margin-right: 6%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 1.5%;
  margin-left: 2.8%;
  background-color: darkkhaki;
}
.Navbar0 {
  position: fixed;
  top: 0;
  left: 0;
  height: 2%;
  width: 120%;
  background-color: #333;

  padding: 0;
  z-index: 100; /* Ensures the navbar is above other content */
}
.mainbox {
  border: 10px solid grey;
  margin: 10rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}
.Img1 {
  text-align: center;
}
.Img2 {
  margin-left: 6%;
  text-align: center;
  max-width: 100%; /* Set the maximum width to 100% of its container */
  height: 10%; /* Allow the height to adjust proportionally */
}

.operations {
  border: 2px solid black;
  padding: 10spx;
  margin-right: 6%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 1.5%;
  margin-left: 2.8%;
  background-color: darkkhaki;
}
.compo {
  border: 2px solid black;
  padding: 10spx;
  margin-right: 6%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 1.5%;
  margin-left: 2.8%;
  background-color: darkkhaki;
}

.colldef {
  border: 2px solid black;
  padding: 10spx;
  margin-right: 6%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 1.5%;
  margin-left: 2.8%;
  background-color: darkkhaki;
}

button,
select {
  text-transform: none;
  color: #90ee90;
  background: black;
}
.collision {
  border: 2px solid greenyellow;
  font-size: 30px;
  padding: 10spx;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  margin-right: 60%;
  margin-top: 2%;
  margin-left: 2%;
  background-color: #61dafb;
}
.collcard {
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 1.5%;
  margin-left: 2%;
  margin-right: 2%;
  background-color: pink;
}
.collcard2 {
  color: red;
}

.ex1 {
  border: 2px solid black;
  padding: 10spx;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  /* margin-right: 50%; */
  /* margin-top: 6%; */
  /* margin-left: 6%; */
  background-color: yellow;
  font-size: 45px;
  text-align: center;
  margin: 3%;
  width: 42rem;
}
.ex1-1 {
  border: 2px solid black;
  padding: 10spx;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  /* margin-right: 50%; */
  /* margin-top: 6%; */
  /* margin-left: 6%; */
  background-color: yellow;
  font-size: 45px;
  text-align: center;
  margin-top: 10rem;
  width: 42rem;
  margin-bottom: 3rem;
  margin-left: 7rem;
}
.pic1 {
  color: darkgreen;
  font-size: 30px;
}
.pic2 {
  color: darkgreen;
  font-size: 30px;
  text-align: end;
}
.pic3 {
  color: darkgreen;
  font-size: 30px;
  text-align: end;
}
.pic4 {
  color: darkgreen;
  font-size: 30px;
  text-align: end;
}
.pic5 {
  color: darkgreen;
  font-size: 30px;
  text-align: end;
}

.crtimage {
  border: 5px solid;
  border-color: chartreuse;
  margin: 0 10%;
}
.CRTHeading {
  color: white;
  border: 5px solid black;
  padding: 10spx;
  text-align: center;
  font-size: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  /* margin-right: 20%; */
  /* margin-top: 2%; */
  /* margin-left: 20%; */
  /* margin-bottom: 20%; */
  background-color: deeppink;
  margin: 5%;
  /* margin-bottom: 20%; */
}
.containert1 {
  margin: 0 5%;
}
.cardt1 {
  font-size: 30px;
  color: red;
}
.op1 {
  border: 2px solid black;
  padding: 10spx;

  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  font-size: 3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 10rem;
  padding: 2rem;
  background-color: darkkhaki;
}

.containert2 {
  margin: 10rem;
  font-size: 3rem;
}
.OHH {
  border: 2px solid black;
  padding: 10spx;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  /* margin-right: 30%; */
  /* margin-top: 2%; */
  font-size: 3rem;
  /* margin-left: 30%; */
  text-align: center;
  color: orangered;
  background-color: pink;
  padding: 1rem;
  margin: 0 10rem;
}
.lp1 {
  border: 2px solid black;
  padding: 10spx;
  margin-right: 6%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 11rem;
  margin-left: 2.8%;
  background-color: darkkhaki;
}
.lp2 {
  border: 2px solid black;
  padding: 10spx;
  margin-right: 6%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 3%;
  margin-left: 2.8%;
  background-color: lightpink;
}
.qp1 {
  border: 2px solid black;
  padding: 10spx;
  margin-right: 6%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 11rem;
  margin-left: 2.8%;
  background-color: antiquewhite;
}
.qp2 {
  border: 2px solid black;
  padding: 10spx;
  margin-right: 6%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 3%;
  margin-left: 2.8%;
  background-color: lightpink;
}
.qp3 {
  border: 2px solid black;
  padding: 10spx;
  margin-right: 6%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 3%;
  margin-left: 2.8%;
  background-color: skyblue;
}
.dh1 {
  border: 2px solid black;
  padding: 10spx;

  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 10rem 5rem 7rem 5rem;
  background-color: antiquewhite;
}
.dh2 {
  border: 2px solid black;
  padding: 10spx;
  margin-right: 6%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 3%;
  margin-left: 2.8%;
  background-color: darksalmon;
}
.dh3 {
  border: 2px solid black;
  padding: 10spx;
  margin-right: 6%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 3%;
  margin-left: 2.8%;
  background-color: aliceblue;
}
.sc1 {
  border: 2px solid black;
  padding: 10spx;
  margin-right: 6%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 11rem;
  margin-left: 2.8%;
  background-color: antiquewhite;
}
.sc2 {
  border: 2px solid black;
  padding: 10spx;
  margin-right: 6%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 2%;
  margin-left: 2.8%;
  background-color: darksalmon;
}
.sc3 {
  border: 2px solid black;
  padding: 10spx;
  margin-right: 6%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 3%;
  margin-left: 2.8%;
  background-color: aliceblue;
}
.sc4 {
  border: 2px solid black;
  padding: 10spx;
  margin-right: 6%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 3%;
  margin-left: 2.8%;
  background-color: cornsilk;
}
.sc5 {
  border: 2px solid black;
  padding: 10spx;
  margin-right: 6%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 3%;
  margin-left: 2.8%;
  background-color: darksalmon;
}
.bh1 {
  border: 2px solid black;
  padding: 10spx;
  margin-right: 6%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 11rem;
  margin-left: 2.8%;
  background-color: antiquewhite;
}
.bh2 {
  border: 2px solid black;
  padding: 10spx;
  margin-right: 6%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  font-size: 26px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 2%;
  margin-left: 2.8%;
  background-color: lightgrey;
}
.bh3 {
  border: 2px solid black;
  padding: 10spx;
  margin-right: 6%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 3%;
  margin-left: 2.8%;
  background-color: lightpink;
}
.bh4 {
  border: 2px solid black;
  padding: 10spx;
  margin-right: 6%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 3%;
  margin-left: 2.8%;
  background-color: lightcyan;
}
.dhc1 {
  color: #61dafb;
  margin-bottom: 50%;
}

.nav-pills .nav-link {
  border-radius: 10%;
  color: #000000;
  background-color: #dddddd;
  /* margin-top: 20%; */
}
.nav-pills .nav-tem:not(:nth-last-child(1)) .nav-link {
  border-right: 1px solid white;
}
.tab-content {
  margin-top: 7%;
  background-color: black;
  border: 1px solid red;
}
.cs {
  margin-bottom: 20%;
}
.eg {
  color: yellowgreen;
}
.b1 {
  background-color: yellow;
  margin-left: 84.5%;
  margin-top: -40%;
}
.col-sm-6 col-md-4 {
  display: flex;
  text-align: center;
}

.section-white {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 10rem;
  /* overflow: hidden; */
  text-align: center;
  gap: 5rem;
  margin-top: 13rem;
}
.cardi {
  padding: 1rem;
  border-radius: 8mm;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  font-size: 2rem;
  background: #49ebb5;
  transition: all 0.2s ease-in;
}
.cardi:hover {
  background: grey;
  transform: translateY(-1rem);
}
.team-item {
  background: #f4f5f6;
  text-align: center;
  margin: 20px 0;
  padding: 50px 20px 40px 20px;
  border-radius: 8px 8px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.team-item:hover {
  background: yellowgreen;
  color: white;
}

.team-item h3 {
  margin: 20px 0 1px 0 !important;
  color: #454545;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}

.section-subtitle {
  white-space: pre-line;
  font-size: 30px;
  position: fixed;
  margin-left: 600px;
  margin-top: 30px;
}

.team-item:hover h3 {
  color: #ddd;
}

.team-info {
  display: block;
  margin-bottom: 0;
}

.team-info p {
  color: cadetblue;
  font-style: italic;
  font-size: 30px;
}

.team-info::after {
  background: #008aff;
  background: -webkit-linear-gradient(135deg, #6b02ff 0%, #985bef 100%);
  background: -o-linear-gradient(bottom right, #6b02ff, #985bef);
  background: -moz-linear-gradient(bottom right, #008aff, #1ad2fd);
  background: linear-gradient(135deg, #6b02ff 0%, #985bef 100%);
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 50px;
  height: 3px;
}

.team-img {
  max-width: 386px;
  max-height: 300px;
  padding: 6px 6px;
  background-color: #dedede;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

ul.team-icon {
  margin-top: 25px;
}

ul.team-icon li {
  display: inline-block;
  margin: 0 3px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

ul.team-icon li a {
  margin: 0;
  display: inline-block;
  padding: 8px 8px;
  width: 34px;
  height: 34px;
  font-size: 18px;
  line-height: 18px;
  background-color: #fff;
  border-radius: 50%;
  color: #fff;
}

ul.team-icon li a.twitter {
  background-color: #4099ff;
}

ul.team-icon li a.pinterest {
  background-color: #c92228;
}

ul.team-icon li a.facebook {
  background-color: #3b5998;
}

ul.team-icon li a.dribble {
  background-color: #ea4c89;
}

.team-icon li a:hover {
  color: #dedede;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.section-title {
}
.mid {
  display: flex;
  margin-top: -90px;
  position: fixed;
  display: center;
}
.Main {
  width: 1250px;
  margin-top: 12%;
  margin-left: -200px;
}
.main1 {
  margin-left: 255px;
}

.main2 {
  margin-left: -600px;
}
.main3 {
  margin-left: -600px;
}
.main4 {
  margin-left: -590px;
}

.Teamhead {
  color: orange;
  margin-top: 20px;
}

.waghinfo {
  color: darkgreen;
  font-size: 25px;
}
.thoratinfo {
  color: darkgreen;
  font-size: 25px;
}
.gohilinfo {
  color: darkgreen;
  font-size: 25px;
}
.undeinfo {
  color: darkgreen;
  font-size: 25px;
}

/* .anothernav{
  margin-left: right;
} */

/* select {
  height: 3rem;
  width: 12rem;
  text-align: center;
  font-size: 1.2rem;
} */
.head1 {
  background-color: #61dafb;
  font-size: 2.5rem;
  margin-left: 4%;
  margin-top: 4%;
  border: 2px solid greenyellow;
}
.CRTTypes,
.OHH {
  overflow: auto;
}
.ourphotos {
  border-radius: 50%;
  width: 14rem;
}
.vaipic {
  width: 15rem;
}
.undepic {
  width: 13rem;
}
.signupclass {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}
.signupform {
  display: grid;
  font-size: 2rem;
  gap: 4rem;
  margin: 2rem;
  /* justify-content: center; */
  /* margin-left: 20rem; */
}
/* /* .each-input input[type="text"]:focus,
.each-input input[type="email"]:focus,
.each-input input:focus {
  border-color: blue; /* Change border color to blue when focused 
}  */
.submitt {
  width: 10rem;
  /* margin-left: 29rem; */
}
.sub-form {
  display: flex;
  justify-content: center;
}
.each-input {
  display: grid;
  /* grid-template-columns: 0.17fr 0.5fr; */
  /* grid-template-columns: 20rem 60rem; */
}
.nav-container {
  display: flex;
  justify-content: space-between;
  background-color: rgb(102, 99, 99);
  color: white;
  align-items: center;
  height: 7rem;
  padding: 0 1.2rem;
}
.nav-buttons {
  display: flex;
  gap: 2.4rem;
  font-size: 2rem;
}
.table {
  height: 4rem;
  background-color: black;
  color: white;
  width: 15rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  text-align: center;
}
.nav-button {
  color: white;
  padding: 0.5rem;
  text-decoration: none;
}
.simulation-btn {
  background-color: green;
  padding: 0.5rem;
  /* border-radius: 5mm; */
  color: white;
}
.mobile-nav-btn {
  opacity: 0;
}
.mob-icon {
  font-size: 2.5rem;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  /* background-color: #fdf2e9; */
  align-items: center;
  /* position: absolute; */
}
.header1 {
  background-color: #fdf2e9;
  position: sticky;
}
.header-list {
  display: flex;
  gap: 2.7rem;
  list-style: none;

  cursor: pointer;
}
.sticky {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 7rem;
  /* padding: 2rem; */
  padding-bottom: 0;
  background-color: black;
  color: white;
  z-index: 10000;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.header-list-links:hover {
  color: orange;
}
.header-list-links {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: 1.4rem;
}
.mobile-nav {
  background: none;
  border: none;
  display: none;
  cursor: pointer;
}
.icon-mobile-nav1 {
  color: white;
  width: 3rem;
  height: 3rem;
}
.icon-mobile-nav2 {
  display: none;
  color: #302c2c;
  width: 3rem;
  height: 3rem;
}

.header-list-button {
  padding: 0.8rem 1.5rem;
  font-weight: bolder;
  font-size: 1.2rem;
  background-color: green;
  text-decoration: none;
  border-radius: 2mm;
  color: white;
}
.header-list-button:hover {
  /* background-color: #f17608; */
  color: white;
}
.topic1 {
  display: none;
  text-align: center;
  /* background-color: #fdf2e9; */
}
.home-img {
  width: 60%;
  height: 60%;
}
@media (max-width: 1400px) {
  .op1 {
    margin: 8rem;
    margin-top: 11rem;
  }
  .OHH {
    margin: 0 8rem;
    font-size: 2.5rem;
  }
}
@media (max-width: 972px) {
  .op1 {
    margin: 5rem;
    font-size: 2.5rem;
    margin-top: 10rem;
  }
  .OHH {
    margin: 0 5rem;
  }
}
@media (max-width: 620px) {
  .op1 {
    margin: 3rem;
    font-size: 2rem;
    padding: 1rem;
    margin-top: 10rem;
  }
  .OHH {
    margin: 0 3rem;
  }
}
@media (max-width: 450px) {
  .op1 {
    margin: 1rem;
    padding: 0.8rem;
    font-size: 1.5rem;
    margin-top: 10rem;
  }
  .OHH {
    margin: 0 1rem;
    padding: 0rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 1000px) {
  .OHH {
    font-size: 2rem;
  }
}
@media (max-width: 800px) {
  .OHH {
    font-size: 1.8rem;
  }
}
@media (max-width: 1050px) {
  .OHH {
    font-size: 2.1rem;
  }
}

@media (max-width: 2114px) {
  .section-white {
    margin: 7rem;
    gap: 3rem;
    margin-top: 10rem;
  }
}
@media (max-width: 1800px) {
  .section-white {
    margin: 4rem;
    gap: 2rem;
    margin-top: 10rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
  .section-white {
    gap: 3rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}
@media (max-width: 570px) {
  .section-white {
    margin: 1.5rem;
    margin-top: 9rem;
  }
}
@media (max-width: 420px) {
  .signupform {
    font-size: 1.5rem;
  }
}
@media (max-width: 1680px) {
  .nav-buttons {
    display: flex;
    gap: 1.1rem;
    font-size: 1.7rem;
  }
  .table {
    width: 12rem;
    font-size: 1.2rem;
  }
  .topic {
    font-size: 2.4rem;
  }
}
@media (max-width: 1400px) {
  .section-1-content-button {
    justify-content: center;
  }

  .section-1-hero {
    grid-template-columns: 1fr;

    padding: 0 2.5rem;
  }
  .section-1 {
    padding-bottom: 2rem;
    padding-top: 0.1rem;
  }
  .section-1-content {
    text-align: center;
  }
  .section-1-content-footer {
    justify-content: center;
  }
  .mobile-nav {
    display: block;
  }

  .nav-open .icon-mobile-nav1 {
    display: none;
  }
  .icon-mobile-nav1 {
    display: block;
  }
  .header-list-links {
    font-size: 1.5rem;
  }
  .header-list {
    flex-direction: column;
    gap: 3rem;
    text-align: center;
  }
  .header-list-button {
    font-size: 1.5rem;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    /* display: none; */
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .nav-open .icon-mobile-nav2 {
    display: block;
  }
  .header-list-links {
    color: black;
  }
  .cards {
    display: grid;
    /* grid-template-columns: repeat(1, 1fr); */
    grid-template-rows: repeat(3, 1fr);
    justify-content: space-around;
  }
  .containert2 {
    margin: 8rem;
    font-size: 3rem;
  }
}
@media (max-width: 850px) {
  .topic {
    display: none;
  }
  .topic1 {
    display: block;
  }
}
@media (max-width: 1050px) {
  .containert2 {
    margin: 8rem;
    font-size: 3rem;
  }
}
@media (max-width: 1000px) {
  .containert2 {
    margin: 5rem;
    font-size: 2.5rem;
  }
}
@media (max-width: 620px) {
  .containert2 {
    margin: 3rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 450px) {
  .containert2 {
    margin: 1rem;
    font-size: 1rem;
  }
}
@media (max-width: 1400px) {
  .mainbox {
    margin: 10rem 2rem;
  }
}
@media (max-width: 1056px) {
  .home-img {
    width: 80%;
    height: 80%;
  }
}
@media (max-width: 500px) {
  .mainbox {
    margin: 10rem 0rem;
  }
}

/* SLIDER */
.slider {
  margin: 0 8rem;
  height: 58rem;
  /* margin: 0 auto; */
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 62rem;

  display: flex;
  align-items: center;
  justify-content: center;

  /* THIS creates the animation! */
  transition: transform 1s;
}

.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  background-color: black;
  /* background-color: #888; */
  opacity: 1;
}
pre code {
  font-size: 2rem;
}

.p-0 {
  padding: 0 !important;
  gap: 1rem;
}
@media (max-width: 1300px) {
  pre code {
    font-size: 1.3rem;
  }
  .car {
    margin: 3rem 3rem;
  }
}
@media (max-width: 750px) {
  pre code {
    font-size: 0.8rem;
  }
}
@media (max-width: 500px) {
  pre code {
    font-size: 0.6rem;
  }
}
@media (max-width: 800px) {
  .ex1 {
    font-size: 1.6rem;
    width: 25rem;
  }
  .ex1-1 {
    font-size: 1.3rem;
    width: 21rem;
    margin-left: 4rem;
  }
}
@media (max-width: 500px) {
  .ex1 {
    font-size: 1.3rem;
    width: 21rem;
  }
  .ex1-1 {
    font-size: 1.3rem;
    width: 21rem;
    margin-left: 2rem;
  }
}
@media (max-width: 1100px) {
  .slider {
    margin: 0 3rem;
  }
}
@media (max-width: 800px) {
  .slider {
    margin: 0 1rem;
  }
}
@media (max-width: 1000px) {
  .CRTHeading,
  .cards {
    font-size: 1.5rem;
  }
}
@media (max-width: 600px) {
  .CRTHeading,
  .cards {
    font-size: 1.2rem;
  }
}
.ref1 {
  margin: 8%;
  margin-top: 10rem;
}
